/* General */

* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --info-bg-color: #D9D9D9;
}

body {
    margin: 0 auto;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
}

.fa-solid {
    color: var(--main-color);
}

a {
    color: inherit;
    text-decoration: none;
}

.card {
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-padding {
    padding: 5px;
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.card-subtitle {
    font-size: 14px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

.margin-null {
    margin: 0;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-top-30 {
    margin-top: 30px;
}

.padding-30 {
    padding: 30px;
}

.padding-left-0 {
    padding-left: 0;
}

.height-max {
    height: 100%;
}

.box-sizing {
    box-sizing: border-box;
}

.border-radius {
    border-radius: 20px;
}

.title-font-size {
    font-size: 22px;
}

.text-font-size {
    font-size: 18px;
}

.font-bold,
.input-location::placeholder {
    font-weight: bold;
}

.border-top-and-left {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.fa-location-dot,
.input-location::placeholder {
    color: black;
}

.background-white {
    background-color: white;
}

.background-grey {
    background-color: var(--main-bg-color);
}

.cursor-pointer {
    cursor: pointer;
}

.display-flex {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-justify-space-between {
    justify-content: space-between;
}

.flex-justify-center {
    justify-content: center;
}

.flex-align-center {
    align-items: center;
}

.display-gap-15 {
    gap: 15px;
}

.display-gap-50 {
    gap: 50px;
}

.list-style-type-none {
    list-style-type: none;
}

/* Header */

.logo {
    width: 61px;
    height: 19px;
    padding-top: 30px;
}

.navigation-menu li {
    padding: 15px 0;
}

.navigation-menu li:hover {
    border-top: solid 2px;
    border-top-color: var(--main-color);
    color: var(--main-color);
    padding-top: 13px;
}

/* Introduction */

.intro-title {
    margin: 0 0 15px;
}

.intro-para {
    margin: 0 0 30px;
}

/* Filtres */

.picto-location {
    border-radius: 15px 0px 0px 15px;
}

.fa-location-dot {
    padding: 16.5px 20px;
}

.input-location {
    padding: 13px;
    border: 1px solid var(--main-bg-color);
    border-right: none;
    outline: none;
}

.input-location::placeholder {
    text-align: center;
}

:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.button-search {
    color: white;
    background-color: var(--main-color);
    border: none;
    padding: 14px 20px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.picto-search {
    display: none;
}

.filter-section {
    gap: 30px;
}

.filter-options button {
    border: 2px solid var(--info-bg-color);
    border-radius: 25px;
    padding: 14px 19px;
    gap: 10px;
    font-size: 17px;
}

.filter-options button:hover {
    background-color: var(--filter-bg-color);
}

.fa-info {
    min-width: 24px;
    min-height: 24px;
    border: 1px solid var(--info-bg-color);
    border-radius: 90px;
    font-size: x-small;
}

/* Hébergements à Marseille */

.accomodations-section {
    width: 65%;
}

.accomodations-cards {
    flex-wrap: wrap;
}

.accomodations-cards .card {
    width: 30%;
}

.accomodations-cards img {
    height: 110px;
}

.accomodations-cards .card-content {
    margin: auto 15px;
}

.accomodations-cards .card-txt {
    margin: 7.5px 0;
}

.accomodations-cards .card-subtitle {
    margin: 6px 0 0;
}

.accomodations-cards .card-rating {
    margin-bottom: 7.5px;
}

/* Les plus populaires */

.popular-section {
    width: 32%;
}

.popular-cards .card {
    margin-top: 33px;
}

.popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    padding-left: 15px;
    width: 67%;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 6px;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}

/* Activités à Marseille */

.activities-section {
    margin: 65px 30px 0;
}

.activities-section .section-title {
    margin-top: 0;
}

.activities-cards {
    gap: 2%;
}

.activities-cards .card {
    width: 23.5%;
}

.activities-cards img {
    height: 85%;
}

.activities-cards .card-title {
    height: 15%;
    margin: 0 15px;
}

/* Footer */

.footer-nav {
    width: 35%;
}

.footer-list li {
    margin-top: 18px;
}