/* General */

* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}


body {
    margin: 0 auto 0 auto;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 61px;
    height: 19px;
    padding-top: 30px;
}

.navigation-menu {
    display: flex;
    gap: 80px;
}

.navigation-menu a {
    display: flex;
    align-items: center;
}

/* Filtres */

.filter-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 50px;
}

.filter-intro  {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.filter-intro-title {
    font-size: 22px;
    margin: 0;
}

.filter-intro-para {
    margin: 0;
}

.filter-form {
    display: flex;
}

.filter-picto-location {
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

.filter-picto-location i {
    color: black;
    padding: 16.5px 20px 16.5px 20px;
} 

.filter-input-location {
    padding: 13px;
    font-size: 18px;
    border: 1px solid #F2F2F2;
    border-right: none;
    border-left: none;
}

.filter-input-location::placeholder {
    color: black;
    text-align: center;
    font-weight: bold;  
}

/* Chrome Opera Safari */
:focus::-webkit-input-placeholder {
    opacity: 0;

    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

/* Firefox 19+ */
::-moz-placeholder {
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

/* Firefox 18- */
:-moz-placeholder {
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

/* IE 10+ */
:-ms-input-placeholder {
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.filter-button-search {
    color: white;
    background-color: #0065FC;
    border: none;
    padding: 14px 20px 14px 20px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
}

.filter-picto-search {
    display: none;
}

.filter {
    display: flex;
    gap: 15px;
} 

.filter-options {
    display: flex;
    gap: 15px;
}

.filter-options button {
    display: flex;
    align-items: center;
    font-weight: bold;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 14px 19px;
    gap: 10px;
    font-size: 17px;
    background-color: white;
}

.filter-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.filter-info .fa-solid  {
    display: flex;
    min-width: 24px;
    min-height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 90px;
    justify-content: center;
    align-items: center;
    font-size: x-small;
}

.filter-info p {
    margin: 0;
}

/* Hébergements et populaires */

.accomodations-and-popular {
    display: flex;
    justify-content: space-between;
}

.accomodations-and-popular section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/* Hébergements à Marseille */

.accomodations-section {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
}

.accomodations-cards {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.accomodations-cards .card {
    margin-top: 30px;
    width: 30%;
    display: flex;
    padding: 5px 5px 0 5px;
}

.accomodations-cards a {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.accomodations-cards img {
    height: 110px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.accomodations-cards .card-content {
    margin: auto 15px;
}

.accomodations-cards .card-txt {
    margin: 7.5px 0;
}

.accomodations-cards .card-title {
    margin: 0;
}

.accomodations-cards .card-subtitle {
    margin: 6px 0 0 0;
    font-size: 14px;
}

.accomodations-cards .card-rating {
    margin-bottom: 7.5px;
}

.accomodations-info {
    margin-top: 30px;
    font-weight: bold;
    font-size: 18px;
}

/* Les plus populaires */

.popular-section {
    width: 32%;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards .card {
    display: flex;
    margin-top: 33px;
}

.popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}

/* Activités à Marseille */

.activities-section {
    margin: 50px 30px 0 30px;
}

.activities-section .section-title {
    margin-bottom: 30px;
}

.activities-cards {
    display: flex;
    gap: 2%;
}

.activities-cards .card {
    width: 23.5%;
    padding: 0;
}

.activities-cards a {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.activities-cards img {
    width: 100%;
    height: 85%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activities-cards .card-content {
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 15px;
}

/* Footer */

footer {
    background-color: #F2F2F2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 30px 30px 0px 30px ;
    }

footer h3 {
    margin: 0;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 18px 0px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

/* Media queries pour desktop */

@media all and (min-width: 1024px) {
    
    /* Header */

    .navigation-menu a:hover {
        border-top: solid 2px;
        border-top-color: #0065FC;
        color: #0065FC;   
        cursor: pointer;
    }

    /* Filtres */

    .filter-options button:hover {
        background-color: #DEEBFF;
        cursor: pointer
    }

    /* Hébergements à Marseille */

    .accomodations-info:hover {
        cursor: pointer;
    }

    /* Footer */

    footer li:hover {
        cursor: pointer;
    }

}
