@media all and (min-width: 768px) and (max-width: 1024px) {
    
    /* General */
    
    body {
        padding: 0;
    }

    main, header {
        padding: 0px 30px;
    }

    /* Filtres */

    .filter {
        flex-direction: column;
    }

    .filter h3 {
        margin: 0;
    }

    .filter-options button {
        font-size: 16px;
    }

    /* Hébergements à Marseille et les plus populaires */
    
    .accomodations-and-popular {
        flex-direction: column;
        gap: 50px;
    }

    /* Hebergements à Marseille */
    
    .accomodations-section {
        width: 100%;   
    } 

    /* Les plus populaires */ 
    
    .popular-section {
        width: 100%;
    }

    .popular-cards {
        flex-direction: row;
        justify-content: space-around;
    }

    .popular-cards .card {
        width: 100%;
    }

    .popular-cards a {
        width: 100%;
    } 

    /* Activités à Marseille */

    .activities-section {
        margin: 65px 30px 0 30px;
    }

    .activities-cards .card {
        height: 270px;
    }

    .activities-cards img {
        height: 75%;
    }

    .activities-cards .card-title {
        height: 25%;
    }

    /* Footer */ 

    footer {
        margin: 0 30px;
    }
}