@media all and (min-width: 768px) and (max-width: 1024px) {

    /* General */

    body {
        padding: 0;
    }

    main,
    header {
        padding: 0px 30px;
    }

    /* Header */

    .navigation-menu a:hover {
        border-top: solid 2px;
        border-top-color: #0065FC;
        color: #0065FC;
        cursor: pointer;
        padding-top: 13px;
    }

    /* Filtres */

    .filter {
        flex-direction: column;
    }

    .filter h3 {
        margin: 0;
    }

    .filter-options button {
        font-size: 16px;
    }

    .filter-options button:hover {
        background-color: #DEEBFF;
        cursor: pointer
    }

    /* Hébergements à Marseille et les plus populaires */

    .accomodations-and-popular {
        flex-direction: column;
        gap: 50px;
    }

    /* Hebergements à Marseille */

    .accomodations-section {
        width: 100%;
    }

    .accomodations-info:hover {
        cursor: pointer;
    }

    /* Les plus populaires */

    .popular-section {
        width: 100%;
    }

    .popular-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .popular-cards .card {
        width: 30%;
    }

    /* Activités à Marseille */

    .activities-section {
        margin: 65px 30px 0;
    }

    .activities-cards .card {
        height: 270px;
    }

    .activities-cards img {
        height: 75%;
    }

    .activities-cards .card-title {
        height: 25%;
    }

    /* Footer */

    footer {
        margin: 0 30px;
    }

    footer li:hover {
        cursor: pointer;
    }

}